.header {
  display: flex;
  padding: 0 30px;
  gap: 30px;
  justify-content: space-around;
  background-color: rgb(200, 40, 40);
  align-items: center;
  min-height: 50px;
  margin-bottom: 80px;
  box-shadow: 9px 9px 12px #c7c7c7, -9px -9px 12px #f9f9f9;
}
