.boxContactForm {
  display: flex;
  width: 500px;
  height: 200px;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
  font-size: 18px;
  margin: 0 auto;
  box-shadow: 13px 13px 20px #9f9f9f, -13px -13px 20px #ffffff;
  border-radius: 22px;
  background-color: rgb(200, 40, 40);
  color: rgb(240, 240, 210);
  margin-bottom: 60px;
}

.labelContactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.fieldContactForm {
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 10px;
  padding: 0 10px;
  height: 30px;
}

.btnConForm {
  width: 200px;
  border-radius: 8px;
  height: 30px;
  font-size: 18px;
  background-color: rgb(240, 240, 210);
  transition: all 350ms linear;
  color: rgb(200, 40, 40);
  margin: 0 auto;
}

.btnConForm:hover {
  background-color: rgb(90, 90, 90);
}

.errorContactForm {
  color: rgb(30, 30, 30);
}
